{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block main %}
<div class="container mt-5">
    <h1 class="text-center">Bikes</h1>
    <div class="row mb-3">
        {% for bike in bikes %}
        <div class="col-md-3">
            <div class="card p-4">
                <a href="{% url 'bike_detail' bike_id=bike.id%}"><img src="{{bike.image.url}}" alt="" width="100%"></a>
                <h5>{{bike.name}}</h5>
                <div class="d-flex justify-content-between">
                    <h3 style="color: green;">{{bike.price}} £/day</h3>
                    <a href="{% url 'bike_detail' bike_id=bike.id%}"><button class="btn btn-primary">Book</button></a>
                </div>
            </div>
        </div>
        {%endfor%}    
    </div>

</div>
{% endblock %}